.config/nvim/plugged/
.config/tmux/plugins/
.config/tmuxp/*
tags
.netrwhist

# fish gitignore (painful)
.config/fish/*
.config/fish/conf.d/*
.config/fish/functions/*
!.config/fish/config.fish
!.config/fish/fish_plugins
!.config/fish/conf.d/
!.config/fish/conf.d/aliases.fish
!.config/fish/functions/
!.config/fish/functions/git.fish
