[color]
  ui = true

[user]
  name = Son Dang
  email = sondangdev@gmail.com

[commit]
  gpgsign = true

[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
  pager = delta

[page]
  diff = delta
  show = delta
  log = delta
  blame = delta
  reflog = delta

[delta]
  syntax-theme = gruvbox-light
  line-numbers = true
  side-by-side = true
  navigate = true

[interactive]
  diffFilter = delta --color-only

[pull]
  rebase = false

[includeIf "gitdir:/data/son/code/"]
  path = ~/code/.gitconfig

[includeIf "gitdir:/data/son/code-0x/"]
  path = ~/code-0x/.gitconfig
